{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(243, 232, 19);
    heigth: 100%;
}

.capa {
    width: 100%;
    object-fit: cover;
    heigth: 400px;
}

.infoHeader{
    padding-top: 15px;
    background-color: rgb(255, 140, 58);
}

.titulo {
    text-align: center;
    color: rgb(19, 9, 2);
}

nav {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 30px;
}